@import 'variables';
@import 'reset';


#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary;
    font-size: 4rem;
}

#holiday {
    width: 100%;
    margin: 0;
    margin-bottom: 1px;
    display: flex;

    div {
        width: 100%;
        text-align: center;
        padding: 5rem 0;
    }
}